.navigation {
  display: flex;

  &__item {
    border: 1px solid var(--color-silk-white);
    border-radius: .3rem;
    cursor: pointer;
    color: var(--color-silk-white);
    display: inline-block;
    font-size: 1.7rem;
    padding: .5rem 1rem;
    &:not(:last-child) {
      margin-right: 2rem;
    }
  }
}
